[submodule "lib/third-party/zpp_bits"]
	path = third-party/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "lib/third-party/magic_enum"]
	path = third-party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "lib/third-party/lmdbxx"]
	path = third-party/lmdbxx
	url = https://github.com/hoytech/lmdbxx.git
[submodule "lib/third-party/reedsolomon-c"]
	path = third-party/reedsolomon-c
	url = https://github.com/jannson/reedsolomon-c
[submodule "lib/third-party/nlohmann_json"]
	path = third-party/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "lib/third-party/CLI11"]
	path = third-party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "test/feature/s3-tests"]
	path = test/feature/s3-tests
	url = https://github.com/ceph/s3-tests.git
