cmake-build-*/
cmake-build-*/*
*.log
.idea/
.idea/*
server-db/src/config.hpp
server-agency/src/config.hpp
/.vscode
/testing/.venv
/testing/ceph_s3_test.conf
**/__pycache__/
/compile_commands.json
/lib/
*.un~
/.cache/
/cpm-package-lock.cmake
/CLAUDE.md
/CMakeLists.txt.user
/.qtcreator/
